@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {
  margin: 40px auto;
  width: 100%;
  max-width: 900px;
  font-family: "Source Sans Pro";
}
p{
	margin: 0;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}
.col-md-6{
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	width: 50%;
}

.w-100{
	width: 100%;
}

.btn{
	padding: 10px 20px;
	border: 1px solid ;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
